@charset "utf-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

body,
html {
    background: url(../images/10bb467f06ac9dee9317b099dc514637.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap {
    position: relative;
}

.welcome {
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 20%;
    left: 5%;
    line-height: 1.2em;
    text-shadow: 2px 2px 2px gray;
    font-family: 'Josefin Sans', sans-serif;
}

.welcome a span:nth-child(2) {
    display: block;
}

.header-outer {
    position: relative;
}

#header {
    position: fixed;
    top: 0%;
    left: 80%;
    height: 100%;
    width: 50%;
    transform: skew(-40deg);
    color: #fff;
    border: 1px solid #fff;
    padding-left: 50px;
    background: rgba(0, 0, 0, 0.5);
}

#header h1 {
    position: absolute;
    top: 20%;
    left: -20%;
    text-align: left;
    font-size: 60px;

}

#header h1 span:nth-child(1) {
    display: block;
}

#header .nav {
    position: absolute;
    top: 55%;
}

#header h1,
.nav li {
    padding-top: 20px;
    transform: skew(40deg);
    text-shadow: 2px 2px 2px gray;

}

.nav li {
    font-size: 30px;
    border-bottom: 1px solid;
    text-indent: 0.5em;
}