@media only screen and (max-width: 900px) {
    #header h1 {
        position: absolute;
        top: 10%;
        left: -10%;
        font-size: 50px;
    }

    #header h1 span:nth-child(2) {
        display: block;
    }

    #header .nav .depth1>li>a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    #header {
        position: fixed;
        height: 100%;
        transition: all 0.5s;
        overflow: hidden;
        background: red;
    }

    #header.on {
        /*header에 class를 따로 붙였기에 .on을 붙여서 태그 */
        background: rgba(0, 0, 0, 1);
        overflow: visible;
    }

    #header h1 {
        padding-top: 30px;
        text-align: right;
    }






}